html, body {
  background: rgb(212, 214, 212);
}
#layout {
  background: radial-gradient(75.29% 75.29% at 64.96% 24.36%, #FACBD2 0.52%, #FCCCBE 10.42%, #F7D6B1 38.02%, #C3ECB4 75%, #8EDEBB 100%);
  filter: blur(8vmin);
  border-radius: 100%;
  position:fixed;
  margin:0;
  padding:0;
  width: 100%;
  height:100%;
  color:black;
  z-index:-100;
}
#titletext {
  margin-left:15%;
  margin-top:2%;
  color:black;
  background-color: aquamarine;
  z-index:1;
  font-size: 200%;
  font-weight: 400; 
font-style: italic;
  position:absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  
}
#content {
  margin-left:15%;
  margin-right:15%;
  margin-top:5%;
  font-size:100%;
  font-weight: 400; 
font-style: italic; 
  color:black;
  z-index:1;
  position:absolute;
  font-family: 'IBM Plex Sans', sans-serif;
}

